.display-flex {
    display: flex;
    min-height: 80vh;
}

.div-left {
    border: none;
    width: 50vw;
    margin-right: 10px;
}

.div-right {
    border: none;
    width: 50vw;
    margin-left: 10px;
}

.spa-table-left {
    margin: 10px;
}